{% extends "base.html" %}

{% block title %}{{ skill.name }} hands{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'skill-index' %}">Skills</a></li>
    <li><a href="{% url 'skill' skill_name=skill.name %}">{{ skill.name }}</a></li>
    <li class="active">Card hands</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ skill.name }} hands</h1>
    </div>
    <p> Cards: {{ cards }}; Hands: {{ hands }}
{% endblock %}