{% extends "base.html" %}

{% block title %}Skill: {{ skill.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'skill-index' %}">Skills</a></li>
    <li class="active">{{ skill.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ skill.name }}</h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Problems</h3>
            </div>
            <ul class="list-group">
            {% for problem in problems %}
                {% with cards=problem.card_set.count %}
                    <li class="list-group-item">{{ problem.name }} <span class="badge">{{ cards }} card{{ cards|pluralize }}</span></li>
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cards</h3>
            </div>
            <div class="panel-body">
                <form class="input-group" action="{% url 'card-hands' skill_name=skill.name %}" method="get" id="card-hand-form">
                    <input type="number" class="form-control" placeholder="Hand size" aria-describedby="card-handsize" name="cards">
                    <span class="input-group-addon" id="card-handsize"> cards</span>
                    <input type="number" class="form-control" placeholder="Number of hands" aria-describedby="card-hands" name="hands">
                    <span class="input-group-addon" id="card-hands"> hands</span>
                </form>
                <button type="submit" form="card-hand-form" class="btn btn-primary btn-block">Generate hands with the best coverage</button>
            </div>
            <div class="list-group">
            {% for card in cards %}
                <a tabindex="0" class="list-group-item" data-toggle="popover" data-placement="bottom" role="button" data-trigger="focus" title="{{ card.name }}" data-content="{% for problem in card.problems.all %} {{ problem.name }} <br/> {% endfor %}" data-html=true>{{ card.name }} <span class="badge">{{ card.duration }}s</span></a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}